<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-nav-hover bg-white z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand text-bolder text-lg" href="/" rel="tooltip" title="Home Page" data-placement="bottom">
      LASIM SpA
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages8" data-bs-toggle="dropdown" aria-expanded="false" href="/en/company/">
            Company
            <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-block">
          </a>
          <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages8">
            <div class="d-lg-block">
              <a href="/en/company/mission/" class="dropdown-item border-radius-md"><span>Mission</span></a>
              <a href="/en/company/vision" class="dropdown-item border-radius-md"><span>Vision</span></a>
              <a href="/en/company/the-numbers" class="dropdown-item border-radius-md"><span>Our Numbers</span></a>
              <a href="/en/company/establishments" class="dropdown-item border-radius-md"><span>Establishments</span></a>
              <a href="/en/company/certifications" class="dropdown-item border-radius-md"><span>Certifications</span></a>
              <a href="/en/company/ethics-code" class="dropdown-item border-radius-md"><span>Code of Ethics</span></a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false" href="/en/production-processes/">
            Production Processes
            <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-block">
          </a>
          <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
            <div class="d-lg-block">
              <a href="/en/production-processes/punching-processing" class="dropdown-item border-radius-md"><span>Punching/Processing</span></a>
              <a href="/en/production-processes/tailored-blanks" class="dropdown-item border-radius-md"><span>Tailored Blanks</span></a>
              <a href="/en/production-processes/moulding" class="dropdown-item border-radius-md"><span>Moulding</span></a>
              <a href="/en/production-processes/spot-welding" class="dropdown-item border-radius-md"><span>Spot Welding</span></a>
              <a href="/en/production-processes/alulasim" class="dropdown-item border-radius-md"><span>Alulasim</span></a>
              <a href="/en/production-processes/equipment" class="dropdown-item border-radius-md"><span>Equipment</span></a>
              <a href="/en/production-processes/after-market" class="dropdown-item border-radius-md"><span>After market</span></a>
            </div>
          </ul>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="/en/quality">
            Quality
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
            Products
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="/en/customers/">
            Customers
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="/en/contact/">
            Contact
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="/">
            <img src="/img/it.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>