<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class=" row">
            <div class="col-md-4 col-sm-4 mt-4">
                <div>
                    <h6>Produzione</h6>
                    <ul class="flex-column nav">
                        <li class="nav-item text-bold">LASIM SpA - Stabilimento 1</li>
                        <li class="nav-item">Produzione, Viale Austria, 2 - 73100 Lecce Italia</li>
                        <li class="nav-item">Tel +39 0832361491 - Fax +39 0832363466</li>
                        <li class="nav-item text-bold">LASIM Spa - Stabilimento 2</li>
                        <li class="nav-item">Produzione, Viale Francia, 1 - 73100 Lecce Italia</li>
                        <li class="nav-item">Tel +39 0832366711 - Fax 0832363466</li>
                        <li class="nav-item">E-mail: <a href="mailto:lasim.spa@lasim.it">lasim.spa@lasim.it</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mt-4">
                <div>
                    <h6>Warehouse</h6>
                    <ul class="flex-column nav">
                        <li class="nav-item text-bold">LASIM SpA - Stabilimento 3</li>
                        <li class="nav-item">Magazzino, Zona industriale S. Nicola</li>
                        <li class="nav-item">85025 Potenza Italia (presso BCube)</li>
                        <li class="nav-item text-bold">LASIM SpA - Stabilimento 4</li>
                        <li class="nav-item">Magazzino, Nucleo Industriale PRT</li>
                        <li class="nav-item">66041 Atessa (CH) Italia</li>
                        <li class="nav-item">E-mail: <a href="mailto:lasim.spa@lasim.it">lasim.spa@lasim.it</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mt-4">
                <div>
                    <h6>Ufficio tecnico e Vendita</h6>
                    <ul class="flex-column nav">
                        <li class="nav-item text-bold">LASIM Spa</li>
                        <li class="nav-item">Ufficio tecnico e Vendita, C.So Orbassano, 336</li>
                        <li class="nav-item">10137 Torino Italia</li>
                        <li class="nav-item">Tel +39 0113116290 - Fax +39 0113010406</li>
                        <li class="nav-item">E-mail: <a href="mailto:lasim.spa@lasim.it">lasim.spa@lasim.it</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class=" row">
            <div class="col-12">
                <div class="text-center">
                    <p class="text-dark my-4 text-sm font-weight-normal">
                        Lasim SpA - Codice Fiscale e Partita IVA: 00223680752 - Capitale sociale € 10.140.000,00 i.v. - R.E.A. n. 94510 – Iscr. Trib. Di Lecce n. 2982
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>